page-mileage {
	 .modal{
      position: absolute !important;
      width: 100% !important;
      height: 80% !important; 
      top: 20% !important;
      /*left: 5% !important;   */
      border-top-right-radius: 25px !important;
      border-top-left-radius: 25px !important;
      border-bottom-right-radius: 0% !important;
      border-bottom-left-radius: 0% !important;
     }
     .content{
     	width: 100%;
     }

}
